<!-- summernote 文本编辑器 -->
<link rel="stylesheet" type="text/css" href="__H+4.1__/css/plugins/markdown/bootstrap-markdown.min.css" />

<script type="text/javascript" src="__H+4.1__/js/plugins/markdown/markdown.js"></script>
<script type="text/javascript" src="__H+4.1__/js/plugins/markdown/to-markdown.js"></script>
<script type="text/javascript" src="__H+4.1__/js/plugins/markdown/bootstrap-markdown.js"></script>
<script type="text/javascript" src="__H+4.1__/js/plugins/markdown/bootstrap-markdown.zh.js"></script>
<script type="text/javascript">
	markdownContent();
	function markdownContent() {
		$("textarea.markdown-content").markdown({autofocus:false,savable:false});
	}
</script>